// LG
$lg-red: #A50034;

.text-lg {color: $lg-red !important;}
.color-lg {background-color: $lg-red;}

// Vouchr
$vouchr-orange: #DC6900;

// Nick Kyrios
$kyrios-green: #11B18D;
$kyrios-purple: #6327D7;
