@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
    @font-face {
      font-family: quote($font-name);
      src: url($file-name + '.eot');
      src: url($file-name + '.eot?#iefix')  format('embedded-opentype'),
      url($file-name + '.woff') format('woff'),
      url($file-name + '.woff2') format('woff2'),
      url($file-name + '.ttf')  format('truetype'),
      url($file-name + '.svg##{$font-name}')  format('svg');
      font-weight: $weight;
      font-style: $style;
    }
  }
  @include font-face("Mark Pro Black", "/fonts/mark-pro/MarkPro-Black", $style: normal, $weight: normal);
  @include font-face("Mark Pro Bold", "/fonts/mark-pro/MarkPro-Bold", $style: normal, $weight: normal);
  @include font-face("Mark Pro Book", "/fonts/mark-pro/MarkPro-Book", $style: normal, $weight: normal);
  @include font-face("Mark Pro Heavy", "/fonts/mark-pro/MarkPro-Heavy", $style: normal, $weight: normal);
  @include font-face("Mark Pro Medium", "/fonts/mark-pro/MarkPro-Medium", $style: normal, $weight: normal);