 $pro-black: "Mark Pro Black", sans-serif;
  $bold: "Mark Pro Bold", sans-serif;
  $book: "Mark Pro Book", sans-serif;
 $heavy: "Mark Pro Heavy", sans-serif;
$medium: "Mark Pro Medium", sans-serif;

$color1: #31006F;
$color2: #FF75B7;
$color3: #6FC7B0;
$color4: #F58674;
$color5: #F25C4A;
$color6: #2B2759;
$colorWhite: #FFFFFF;
$colorGrey: #f9f9f9;
$colorDarkGrey: #4A4A4A;

$pink: #FF75B7;
$black: #000;
$line-color: #000;
$line-width: 1px;
$line-height: 100%;